<%= turbo_stream_from @chat %>

<div>
  <%= render 'list', chats: @chats %>

  <%= turbo_frame_tag @chat do %>
    <%= turbo_frame_tag "messages", data: { controller: "scroll", action: "turbo:before-stream-render@document->scroll#throttledScroll" } do %>
      <% @chat.messages.each do |message| %>
        <%= render message %>
      <% end %>
    <% end %>

    <%= render "lounge_car/messages/form" %>
  <% end %>
</div>